form{
    margin:0px;
    padding: 0px;
}
.container{
    border-radius: 5px;
    border:4px solid #EDEDED;
    max-width: 950px;
    margin: 20px auto 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px ;
    justify-content: space-between;
}
.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #333;
}
/* h1 */
h1{
    margin: 0 10px;
    font-size: 2rem;
    align-self: flex-start;
}
/* span */
.login span{
    align-self: center;
    margin:200px;
}
/* input */

input{
   border-radius: 10px;
   padding: 10px;
   margin: 10px 0;
   width: 20rem;
   border: 2px solid #333;
   
}

.login input::placeholder{
    color:333;
}
/* buttom */
.submit{
    border-radius: 10px;
    padding: 10px;
    width: 21.5rem;
    background: #399F4C;
    border: 2px solid #55CD6C;
    font-weight: bolder;
    
}

/* Cadastre-se */

.cad{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* h1 */

.cad h1{
    text-align: center;
}

